@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.btn {
    @apply font-semibold py-1 px-4 rounded-md hover:bg-transparent hover:outline-2 hover:outline;
}

.input {
    @apply border-b-[2px] border-gray-400 w-full py-1 px-3 hover:outline-none focus:outline-none focus:border-secondary-color focus:border-b-[3px] xl:text-2xl lg:text-xl placeholder:text-xl;
}

.pagination-btn {
    @apply bg-btn-color text-white py-1 px-2 rounded-md hover:bg-transparent hover:text-black hover:font-semibold hover:outline hover:outline-btn-color hover:outline-2 disabled:bg-gray-500 disabled:hover:bg-gray-500 disabled:hover:outline-none disabled:hover:text-white disabled:hover:font-normal;
}

.sections {
    @apply ml-[193px] mt-[22px] md:mt-[14px] md:ml-[68px];
}

.input-container {
    @apply flex flex-col gap-1;
}

.input-label {
    @apply text-xl md:text-lg;
}

.modal-input {
    @apply outline outline-1 outline-gray-400 rounded-md ml-2 text-xl px-2 py-1 md:text-lg;
}
